<h1>Sinatra Restaurants</h1>
<h2>My list of restaurants</h2>

<h3>Add a new restaurant</h3>

<form action="/create_restaurant" method="POST">
  Restaurant name:<br>
  <input type="text" name="name"><br>
  Restaurant city:<br>
  <br>

  <select name="city_id" class="form-control">
    <% @cities.each do |city| %>
      <option value="<%= city.id %>"><%= city.name %></option>
    <% end %>
  </select>

  <br>
  <input type="submit" value="Create!">
</form>

<ul>
  <% @restaurants.each do |restaurant| %>
    <li>
      <a href="/details/<%= restaurant.id %>">
        <%= restaurant.name %> — <%= restaurant.city.name %>
      </a>
      <span><%= restaurant.votes %></span>
    </li>
  <% end %>
</ul>